[submodule "3rdParty/pybind11"]
	path = 3rdParty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdParty/dlib-19.13"]
	path = 3rdParty/dlib-19.13
	url = https://github.com/davisking/dlib.git
